
/* VARIABLES */

$headerColor: #191919;

$zone1bgcolor: #0E494E;
$zone2bgcolor: #013034;
$zone3bgcolor: #10631A;
$zone4bgcolor: #004208;
$zone5bgcolor: #2F4172;
$zone6bgcolor: #162756;
$zone7bgcolor: #805D15;
$zone8bgcolor: #553A00;
